body {
    font-family: 'Ubuntu Condensed', sans-serif !important;
    
}

.display-1 {
    font-size: 4rem !important;
}

.jumbotron {
    margin-bottom: 0rem !important;
}

@media (max-width: 500px) {
    .display-1 {
        font-size: 2rem !important;
    }
}

.header-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 14px !important;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron {
    padding: 1.5em 1em !important;
}

.navbar .nav-item a {
    color: #353b48;
}

.navbar-custom {
    border: 2px solid #007bff !important;
    background: #007bff !important;
}

.bg-dd {
    background-color: #eeeeee;
}

.info-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
}


a[rel="tag"]:hover {
    text-decoration: none;
}

.another-post {
    margin-top: 20px;
}

.another-thumbnail {
    -webkit-filter: blur(5px);
    /* Chrome, Opera */
    filter: blur(5px);
}

.another-title {
    font-size: 1.75rem !important;
}

.another-link {
    color: #000000;
    text-decoration: none !important;
}

.selected:hover .another-link,
.selected:hover .another-thumbnail {
    color: #17a2b8 !important;
    filter: none;
}

.end-post {
    margin-top: 10px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 27px;
}

#topBtn {
    position: fixed;
    bottom: 120px;
    width: 50px;
    height: 50px;
    font-size: 22px;
    right: 20px;
}

.artikel-tag:hover a:hover {
    text-decoration: none;
    color: #000000 !important;
}

.author:hover {
    text-decoration: none;
}

.inner {
    overflow: hidden !important;
}

.another-thumbnail img {
    transition: all 1.5s ease;
}

.another-thumbnail:hover {
    transform: scale(1.5);
}
